# Environments
/backend/venv/
.venv
venv

# Python cache
__pycache__/
*.py[cod]

# Database files
*.sqlite3
*.db
sql_app.db
backend/sql_app.db

# Node dependencies
/frontend/node_modules

# Build artifacts
/frontend/build

# Temp files
~$*.xlsx